<footer class="rz-footer">
  <div class="container">
    <div class="col">
      <a routerLink="/" class="logo">RoomZo</a>
      <p>Find your next home — rent  with confidence.</p>
    </div>

    <div class="col links">
      <h4>Company</h4>
      <a routerLink="/about">About</a>
      <a [routerLink]="['/']" fragment="contactUs" routerLinkActive="active">Contact Us</a>
      <a routerLink="/faq">FAQ</a>
    </div>

    <div class="col subscribe">
      <h4>Newsletter</h4>
      <form>
        <input type="email" placeholder="Email address" aria-label="Email">
        <button type="submit">Subscribe</button>
      </form>
    </div>
  </div>

  <div class="bottom">
    <div class="container bottom-content">
      <small>© {{ currentYear }} RoomZo — All rights reserved.</small>
      
      <div class="social">
        <a href="https://www.facebook.com/share/1G9ThU9etQ/?mibextid=wwXIfr" target="_blank" aria-label="Facebook" class="social-link">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
            <path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path>
          </svg>
        </a>

        <a href="https://www.instagram.com/roomzo.inn?igsh=MXN0ZDVvb3FqMXp5NA%3D%3D&utm_source=qr" target="_blank" aria-label="Instagram" class="social-link">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <rect x="2" y="2" width="20" height="20" rx="5" ry="5"></rect>
            <path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"></path>
            <line x1="17.5" y1="6.5" x2="17.51" y2="6.5"></line>
          </svg>
        </a>

        <a href="https://twitter.com" target="_blank" aria-label="Twitter" class="social-link">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="currentColor">
             <path d="M18.244 2.25h3.308l-7.227 8.26 8.502 11.24H16.17l-5.214-6.817L4.99 21.75H1.68l7.73-8.835L1.254 2.25H8.08l4.713 6.231zm-1.161 17.52h1.833L7.084 4.126H5.117z"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</footer>