<header class="rz-header">
  <div class="container">
    <div class="brand">
      <a routerLink="/" class="logo">RoomZo</a>
    </div>

    <nav class="nav-desktop">
      <a routerLink="/">Home</a>
      <a routerLink="/search-listing">Rent</a>
      <a routerLink="/list">List Property</a>
      <a [routerLink]="['/']" fragment="contactUs">Contact Us</a>
    </nav>

    <div class="actions">
      <app-search-bar></app-search-bar>

      <div class="auth-desktop">
        <div *ngIf="isLoggedIn" class="profile-menu">
          <button class="profile-btn" (click)="toggleMenu()">
            <div class="avatar-circle">U</div> <mat-icon>expand_more</mat-icon>
          </button>

          <div class="dropdown" *ngIf="isMenuOpen">
            <div class="user-info">
              <strong>Your Account</strong>
              <span>{{ userMobile }}</span>
            </div>
            <div class="divider"></div>
            <a routerLink="/my-listings" class="menu-item" (click)="closeMenu()">
              <mat-icon>edit_note</mat-icon> Manage Listings
            </a>
            <div class="divider"></div>
            <button class="menu-item logout" (click)="logout()">
              <mat-icon>logout</mat-icon> Logout
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<nav class="mobile-bottom-nav">
  <a routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}" class="nav-item">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </a>

  <a routerLink="/search-listing" routerLinkActive="active-link" class="nav-item">
    <mat-icon>search</mat-icon>
    <span>Rent</span>
  </a>

  <div class="nav-item center-action">
    <a routerLink="/list" class="fab-button">
      <mat-icon>add</mat-icon>
    </a>
    <span>List</span>
  </div>

  <a [routerLink]="['/']" fragment="contactUs" class="nav-item">
    <mat-icon>support_agent</mat-icon>
    <span>Contact</span>
  </a>

  <a  (click)="toggleMenu()" class="nav-item" [class.active-link]="isMenuOpen">
    <mat-icon>person</mat-icon>
    <span>Profile</span>
  </a>
</nav>

<div class="mobile-dropdown-overlay" *ngIf="isMenuOpen && isLoggedIn">
  <div class="overlay-backdrop" (click)="closeMenu()"></div>
  <div class="mobile-dropdown">
    <div class="user-info">
      <strong>Your Account</strong>
      <span>{{ userMobile }}</span>
    </div>
    <div class="divider"></div>
    <a routerLink="/my-listings" class="menu-item" (click)="closeMenu()">
      <mat-icon>edit_note</mat-icon> Manage Listings
    </a>
    <div class="divider"></div>
    <button class="menu-item logout" (click)="logout()">
      <mat-icon>logout</mat-icon> Logout
    </button>
  </div>
</div>